
body{
background-color: black !important;
}
/* .Contain{
  background-color: #000;
  height: 150vh;
}



@media screen and (min-width: 320px){
  .Contain{
    flex-wrap: wrap
  }
}; */




